<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>Filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/managerOrder/*</url-pattern>
        <url-pattern>/managerAccount/*</url-pattern>
        <url-pattern>/managerCategory</url-pattern>
        <url-pattern>/manager/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailController</servlet-name>
        <servlet-class>controller.DetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MannagerOrderController</servlet-name>
        <servlet-class>controller.MannagerOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <servlet-class>controller.DeleteOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgetPasswordController</servlet-name>
        <servlet-class>controller.forgetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Chart</servlet-name>
        <servlet-class>controller.Chart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailController</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MannagerOrderController</servlet-name>
        <url-pattern>/managerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteOrderDetailController</servlet-name>
        <url-pattern>/deleteOrderdtails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgetPasswordController</servlet-name>
        <url-pattern>/forgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Chart</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfileServlet</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
